.Wrapper {
  padding: 20px 0px 36px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 380px;
    height: 460px;
    color: rgb(235, 216, 255);
    background: center top 28px no-repeat, linear-gradient(114.99deg, rgb(71, 28, 169) -0.99%, rgb(87, 54, 163) 54.28%, rgb(75, 42, 153) 78.99%);
    box-shadow: rgba(0, 0, 0, 0.23) -2.5777px 6.87386px 20.6216px;
    border-radius: 20px;
}

.Logo {
  margin-left: 40px;
  
  align-self: flex-start;
  width: 300px;
  height: 250px;
}

.Box {
  position: relative;
  z-index: 1;

  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.BtnWrapper{
  padding: 14px 0px;
    min-width: 196px;
    width: max-content;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: rgb(55, 55, 55);
    background-color: rgb(235, 216, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3.43693px 3.43693px;
    transition: background-color 250ms ease-in-out 0s;
}